---
import SimpleLayout from '../../layouts/SimpleLayout.astro';
import Card from '../../components/Card.astro';
import CardTitle from '../../components/CardTitle.astro';
import CardDescription from '../../components/CardDescription.astro';
import CardCta from '../../components/CardCta.astro';
import CardEyebrow from '../../components/CardEyebrow.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

function formatDate(date: Date): string {
  return date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  });
}
---

<SimpleLayout
  title="Articles"
  intro="All of my long-form thoughts on programming, infrastructure, and more, collected in chronological order."
>
  <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
    <div class="flex max-w-3xl flex-col space-y-16">
      {
        posts.map((post) => (
          <Card as="article">
            <CardTitle href={`/blog/${post.slug}/`}>{post.data.title}</CardTitle>
            <CardEyebrow as="time" dateTime={post.data.date.toISOString()} decorate>
              {formatDate(post.data.date)}
            </CardEyebrow>
            <CardDescription>{post.data.description}</CardDescription>
            <CardCta>Read article</CardCta>
          </Card>
        ))
      }
    </div>
  </div>
</SimpleLayout>
